.time {
  font-family: "Fira Sans";
  font-size: 21pt;
  color: rgba(250, 250, 250, 1);

  &.background {
    background: none;
  }
}

.fail {
  font-family: "Fira Sans";
  font-size: 16pt;
  color: rgba(250, 250, 250, 1);

  &.background {
    background: none;
  }
}
