[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto
  ui = true
  pager = true

[status]
  short = true
  branch = true

[advice]
  pushNonFastForward = false
  statusHints = false
  commitBeforeMerge = false
  resolveConflict = false
  implicitIdentity = false
  detachedHead = false

[core]
  excludesfile = ~/.cvsignore
  autocrlf = input

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[merge]
  tool = vimdiff

[push]
  default = matching

[include]
  path = ~/.gituser
  path = ~/.gittokens
  path = ~/.gitconfig-local

[alias]
  co = checkout
  br = branch
  undo = reset --soft HEAD~1
  addremove = add -A
  ctags = !.git/hooks/ctags
  l = log --pretty=oneline --abbrev-commit --max-count=15 --decorate=short
  supm = branch --set-upstream-to=origin/master master
