[user]
  name = Philipp Millar
  email = philipp.millar@gmx.de

[github]
  user = poxar

[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto
  ui = true
  pager = true

[status]
  short = true
  branch = true

[core]
  excludesfile = ~/.cvsignore
  autocrlf = input

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[merge]
  tool = vimdiff

[help]
  autocorrect = 1

[push]
  default = matching

[include]
  path = ~/.gittokens

[init]
  templatedir = ~/.git_template

[alias]
  co = checkout
  br = branch
  undo = reset --soft HEAD~1
  addremove = add -A
  ctags = !.git/hooks/ctags
  l = log --pretty=oneline --abbrev-commit --max-count=15 --decorate=short
