configuration {
  dpi: 0;
  font: "FiraCode Nerd Font Light 11";

  case-sensitive: false;

  modes: "drun,run,ssh";
  combi-modes: "drun,run";
  drun-show-actions: true;

  ssh-command: "{terminal} --title 'SSH: {host}' -e {ssh-client} {host} [-p {port}]";

  timeout {
    action: "kb-cancel";
    delay:  0;
  }

  kb-mode-next: "Tab";
  kb-mode-prev: "";
  kb-element-next: "";
  kb-element-prev: "";
}

@theme "purple"

window { width: 30%; }
