
/*
 * .Xresources
 * Configuration resources for X applications
 */

!! Fontconfig
Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting:   1
Xft.antialias: 1
Xft.rgba:      rgb

!! xterm
xterm*highlightSelection: true
xterm*metaSendsEscape:    true
xterm*bellIsUrgent:       true
xterm*cutNewline:         true
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*allowTitleOps:      false

! utf8 and 256 colors
xterm*locale:   true
xterm*termName: xterm-256color

! looks
xterm*borderWidth:     0
xterm*faceName:        DejaVu Sans Mono
xterm*faceSize:        11
xterm*cursorBlink:     true
xterm*underLine:       false

! colors
*background:  black
*foreground:  white
